extends layout

block content
  div
    h2 Bé tập tính
  div
    div
      .col.span_3_of_10
        .label-so
          p Số thứ nhất
          p Số thứ hai
          p Kết quả
    div
      .col.span_4_of_10
        .textbox-so
          input#so1(type='text' name='so1')
          input#so2(type='text' name='so2')
          input#kq(type='text' name='kq')
    div
      .col.span_3_of_10
        .pheptinh
          form(action='')
            input#add(type='radio' name='toantu' value='Cộng')
            | C&#x1ED9;ng
            input#sub(type='radio' name='toantu' value='Trừ')
            | Tr&#x1EEB;
            br
            input#mul(type='radio' name='toantu' value='Nhân')
            | Nh&acirc;n
            input#div(type='radio' name='toantu' value='Chia')
            | Chia 
            br
            br
            input(type='button' value='Tính' onclick='calculate()')
  .clearfix
  div
    .col.span_3_of_10
      p.tb Thông báo:
    .col.span_7_of_10
      h3#thongbao
  script(src='javascripts/javascript.js')
  